.attention {
  height: 115vh;
  width: 100%;
  position: relative;

  @include respond(phone) {
    max-height: 85vh;
    margin-top: 12vh;
  }

  &__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background: linear-gradient(transparent 80%, #141414);

    @include respond(phone) {
      background: linear-gradient(transparent 60%, #141414 90%);
    }
  }

  &__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    @include respond(phone) {
      display: flex;
      flex-direction: column-reverse;
    }

    &--info {
      position: absolute;
      bottom: 30%;
      left: 5rem;
      z-index: 15;
      width: 30%;
      padding: 2rem 0;

      @include respond(phone) {
        position: relative;
        background: transparent;
        width: 100%;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      & h2 {
        color: white;
        font-size: 4rem;
        line-height: 1.2;
        margin-bottom: 1rem;
      }

      &-desc {
        font-size: 1.8rem;
        color: #fff;
        line-height: 1.15;
        margin-bottom: 2rem;
        max-height: 12.5rem;
        overflow: hidden;

        @include respond(phone) {
          display: none;
        }
      }

      &-btn {
        display: flex;

        & button {
          padding: 1rem 2.5rem;
          font-size: 1.8rem;
          border-radius: 0.5rem;
          border: none;
          font-weight: bold;
          display: flex;
          align-items: center;

          & i {
            margin-right: 0.75rem;
            font-size: 2.2rem;
          }

          &:not(:last-child) {
            margin-right: 1.25rem;
          }
        }
      }
    }

    &--img {
      @include bannerImage;

      @include respond(phone) {
        display: none;
      }

      &-mobile {
        display: none;

        @include respond(phone) {
          display: block;
          @include bannerImage;
        }
      }
    }

    & iframe {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: -20vh;
      margin-right: -10%;
      height: 120%;
      width: 120%;
      border: none;
      z-index: -1;
      border: 2px solid green;

      @include respond(phone) {
        display: none;
      }
    }
  }
}

.more-info {
  background: rgba(161, 161, 161, 0.65);
  color: white;
}
