.nav__mobile {
  display: none;

  @include respond(phone) {
    height: 12vh;
    width: 100%;
    z-index: 25;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &--main {
      height: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &-logo {
        height: 100%;
        display: flex;
        align-items: center;

        & img {
          height: 55%;
        }
      }
    }

    &--side {
      display: flex;
      align-items: center;
      height: 100%;

      & i {
        font-size: 2.2rem;
        margin-right: 1.4rem;
        color: white;
      }
    }

    &--user {
      height: 3.25rem;
      width: 3.25rem;
      border-radius: 2.5px;
      margin-right: 1.5rem;

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 2.5px;
      }
    }

    &--links {
      height: 30%;
      width: 100%;
      padding: 0 8rem;

      & > * {
        display: flex;
        justify-content: space-between;
        height: 100%;
      }

      @include navLinks;

      & a {
        font-size: 1.8rem !important;
      }
    }
  }
}
