.nav {
  padding: 0 4rem;
  height: 10vh;
  width: 100%;
  z-index: 25;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(phone) {
    display: none;
  }

  &__main {
    height: 100%;
    display: flex;

    &--logo {
      height: 100%;

      & img {
        height: 100%;
      }
    }

    & ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      margin-left: 5rem;

      @include navLinks;
    }
  }

  &__active {
    font-weight: bold;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & button {
      background: none;
      border: none;

      &:first-child {
        margin-right: 1.5rem;
      }
    }

    & i {
      font-size: 2rem;
      color: white;
      cursor: pointer;
    }
  }

  &__user {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 2.5px;
    overflow: hidden;
    cursor: pointer;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__settings {
    width: 3.5rem;
    position: relative;
  }

  &__dropdown {
    background: #141414;
    height: auto;
    width: max-content;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;

    & a {
      font-size: 1.8rem;
      color: #ffffff;
      text-decoration: none;
      padding: 1.5rem 2.5rem;
      border-bottom: 1px solid #272727;

      &:hover {
        background: #272727;
      }
    }

    & p {
      color: #ffffff;
      font-size: 1.8rem;
      padding: 1.5rem 2.5rem;
      background-color: #272727;
      border-bottom: 1.5px solid #ffffff;
    }
  }
}
