.row {
  width: 100%;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent;
  }

  & h2 {
    margin-left: 5rem;
    padding: 2rem 0 1rem 0;
    color: white;
    font-size: 2rem;
  }

  &__list {
    display: flex;
    height: 40vh;
    list-style-type: none;
    overflow: hidden;
    width: min-content;
    position: relative;

    &::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      background: transparent;
      display: none;
    }

    &--item {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: min-content;

      &-img {
        height: 100%;
        width: 100%;

        & img {
          height: 100%;
          border-radius: 0.5rem;
        }
      }

      &:first-child {
        margin-left: 5rem;
      }

      &:last-child {
        margin-right: 5rem;
      }

      &:not(:last-child) {
        margin-right: 0.75rem;
      }
    }
  }
}
