.search {
  padding: 1.5rem;
  height: 100vh;
  width: 100%;
  z-index: 34;
  position: fixed;
  background: #141414;
  top: 0;
  left: 0;
  color: white;
  overflow: scroll;

  @include respond(tab-land) {
    display: flex;
    justify-content: center;
    padding: 2rem 0 0 0;
    background: none;
    overflow: auto;
  }

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;
  }

  &__container {
    padding: 2rem 2rem 0 2rem;
    border-radius: 1rem 1rem 0 0;
    width: 65%;
    background: #141414;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
      display: none;
    }

    @include respond(phone) {
      padding: 0;
      width: 100%;
    }
  }

  &__form {
    display: flex;
    width: 100%;

    & button {
      color: white;
      background: none;
      border: none;
      font-size: 1.8rem;
    }
  }

  &__input {
    width: 85%;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    background: rgb(122, 122, 122);
    border-radius: 5px;
    overflow: hidden;

    @include respond(tab-land) {
      width: 65%;
    }

    & i {
      padding: 1rem;
      font-size: 1.8rem;
    }

    & input {
      height: 100%;
      padding: 0.75rem 0;
      flex: 1;
      background: rgb(122, 122, 122);
      border: none;
      color: white;
      font-size: 1.8rem;

      &::placeholder {
        color: white;
        font-size: 1.8rem;
      }

      &:focus {
        outline: 2px solid white;
      }
    }
  }

  &__cancel {
    cursor: pointer;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    padding: 3rem 0 0 0;
  }

  &__list {
    display: grid;
    grid-gap: 1rem;
    list-style-type: none;
    padding: 1.25rem 0 3rem 0;

    @include respond(phone) {
      grid-template-columns: (repeat(3, 1fr));
    }

    @include respond(tab-land) {
      grid-template-columns: (repeat(5, 1fr));
    }

    &--item {
      width: 100%;
      border-radius: 2.5px;
      overflow: hidden;
      cursor: pointer;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
