.title {
  height: 100vh;
  width: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  color: white;

  @include respond(phone) {
    background: #141414;
  }

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 25;

    @include respond(phone) {
      display: none;
    }
  }

  &__container {
    border-radius: 1rem 1rem 0 0;
    width: 65%;
    position: relative;
    background: #141414;
    margin: 2rem auto 0 auto;
    overflow: hidden;

    @include respond(phone) {
      width: 100%;
      margin: 0;
      overflow: visible;
    }
  }

  &__close,
  &__back {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    color: white;
    border-radius: 100px;
    background: black;
    z-index: 35;
    cursor: pointer;

    @include respond(phone) {
      height: 3.75rem;
      width: 3.75rem;
      font-size: 2.5rem;
    }
  }

  &__close {
    top: 0.75rem;
    right: 0.75rem;
  }

  &__back {
    top: 0.75rem;
    left: 0.75rem;
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    @include respond(phone) {
      display: flex;
      height: min-content;
    }

    &--desktop {
      position: relative;
    }

    &--backdrop {
      height: 100%;
      width: 100%;
      background: linear-gradient(transparent 60%, #141414);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 40;

      @include respond(phone) {
        display: none;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 45;

    &--desktop {
      padding: 3rem 5rem;

      @include respond(phone) {
        display: none;
      }
    }

    @include respond(phone) {
      position: relative;
      padding: 2rem;
      width: 100%;
      background: none;
      z-index: 20;
    }

    & > * {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    & h2 {
      font-size: 4rem;
      width: 55%;
      line-height: 1.2;
      margin-left: 5rem;

      @include respond(phone) {
        width: 100%;
        font-size: 2.2rem;
        margin-bottom: 1rem;
        margin-left: 0;
      }
    }
  }

  &__details {
    font-size: 1.4rem;
    display: none;

    @include respond(phone) {
      display: block;
    }

    &--desktop {
      font-size: 1.8rem;

      @include respond(phone) {
        display: none;
      }
    }
  }

  &__btn {
    display: none;

    @include respond(phone) {
      display: block;

      &--play,
      &--download {
        padding: 1rem;
        border-radius: 5px;
        font-size: 1.8rem;
        border: none;
        font-weight: bold;
        width: 100%;
      }

      &--play {
        margin-bottom: 1rem;
        color: black;
      }

      &--download {
        background: rgb(44, 44, 44);
        color: white;

        & i {
          border-bottom: 1.5px solid white;
          padding-bottom: 0.15rem;
        }
      }

      & i {
        margin-right: 1.25rem;
      }
    }
  }

  &__desc {
    font-size: 2rem;
    line-height: 1.2;
    padding: 2rem 0;
    font-weight: 300;

    @include respond(phone) {
      display: none;
    }

    &--mobile {
      display: none;

      @include respond(phone) {
        display: block;
        font-size: 2rem;
        line-height: 1.2;
        margin-top: 1.8rem;
      }
    }
  }

  &__mobile-cta {
    display: none;

    @include respond(phone) {
      margin-top: 1.5rem;
      list-style-type: none;
      display: flex;

      & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;

        & p {
          font-size: 1.6rem;
          font-weight: 200;
          color: rgb(146, 146, 146);
        }

        & i {
          margin-bottom: 1.5rem;
          font-size: 2.2rem;
        }

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }

  &__similar {
    overflow: hidden;

    &--page {
      display: none;

      @include respond(phone) {
        display: block;
      }
    }

    &-heading {
      border-top: 4px solid red;
      padding: 2rem 0;
      margin-left: 5rem;
      font-size: 2rem;
      width: max-content;

      @include respond(phone) {
        margin-left: 2rem;
      }
    }

    &--list {
      &-mobile {
        display: none;

        @include respond(phone) {
          width: 100%;
          display: grid;
          grid-template-columns: (repeat(3, 1fr));
          grid-gap: 1rem;
          list-style-type: none;
          padding: 0 2rem 2rem 2rem;
        }
      }

      &-desktop {
        width: 100%;
        padding: 2rem 5rem;
        display: grid;
        grid-template-columns: (repeat(3, 1fr));
        grid-gap: 2rem;
        list-style-type: none;

        @include respond(phone) {
          display: none;
          grid-gap: 1rem;
        }
      }

      & li {
        height: 32.5rem;
        background: #2f2f2f;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;

        @include respond(phone) {
          border-radius: 2.5px;
          height: auto;
          background: none;
        }

        &:first-child {
          margin-left: 0;
        }

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__list {
    &--desktop {
      list-style-type: none;
      display: flex;
      margin-left: 5rem;
      width: max-content;
      height: max-content;
      display: flex;
      align-items: center;
      margin-bottom: 4rem !important;

      & button {
        height: 4.25rem;
        padding: 0 3.25rem;
        font-size: 1.7rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        & i {
          margin-right: 1rem;
          font-size: 2.2rem;
        }
      }

      & li {
        &:not(:last-child) {
          margin-right: 0.75rem;
        }
      }

      @include respond(phone) {
        display: none;
      }
    }
  }

  &__badge {
    border: 2px solid #929396;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 100px;
    height: 4.25rem;
    width: 4.25rem;
    background: rgba(146, 147, 150, 0.25);
    cursor: pointer;
  }

  &__figure {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 15;

    @include respond(phone) {
      position: sticky;
      width: 100%;
      z-index: 25;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__similar {
    &--desktop {
      & section {
        padding: 1.75rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        & div {
          flex: 1;

          & h2 {
            display: block;
            font-size: 1.6rem;
            font-weight: 500;
          }

          & p {
            margin-top: 0.35rem;
            font-size: 1.2rem;
          }
        }

        & i {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          border: 2px solid #929396;
          width: 4rem;
          height: 4rem;
          border-radius: 100px;
          cursor: pointer;
          transition: all 0.25s ease;

          &:hover {
            background: rgba(146, 147, 150, 0.25);
          }
        }
      }

      &-desc {
        padding: 0 1.75rem;
        max-height: 30%;
        overflow: hidden;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2;
      }
    }
  }
}
