.title {
  height: 100vh;
  width: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  color: white;

  @include respond(phone) {
    background: #141414;
  }

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 25;
    backdrop-filter: blur(0.2rem);

    @include respond(phone) {
      display: none;
    }
  }

  &__container {
    border-radius: 1rem;
    width: 65%;
    position: relative;
    background: #141414;
    margin: 2rem auto 0 auto;
    overflow: hidden;

    @include respond(phone) {
      width: 100%;
      margin: 0;
      overflow: visible;
    }
  }

  &__close,
  &__back {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    color: white;
    border-radius: 100px;
    background: black;
    z-index: 35;
    cursor: pointer;

    @include respond(phone) {
      height: 3.75rem;
      width: 3.75rem;
      font-size: 2.5rem;
    }
  }

  &__close {
    top: 0.75rem;
    right: 0.75rem;
  }

  &__back {
    top: 0.75rem;
    left: 0.75rem;
  }

  &__main {
    display: flex;
    flex-direction: column-reverse;
    // height: 55vh;
    width: 100%;
    position: relative;

    @include respond(phone) {
      display: flex;
      height: min-content;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1rem 3rem 5rem;
    position: relative;
    width: 100%;
    z-index: 20;
    background: linear-gradient(to right, #141414 82.5%, transparent);

    @include respond(phone) {
      position: relative;
      padding: 2rem;
      width: 100%;
      background: none;
    }

    & > * {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    & h2 {
      font-size: 4.4rem;
      width: 80%;
      line-height: 1.2;

      @include respond(phone) {
        width: 100%;
        font-size: 2.2rem;
        margin-bottom: 1rem;
      }
    }
  }

  &__details {
    font-size: 1.4rem;
  }

  &__btn {
    display: none;

    @include respond(phone) {
      display: block;

      &--play,
      &--download {
        padding: 1rem;
        border-radius: 5px;
        font-size: 1.8rem;
        border: none;
        font-weight: bold;
        width: 100%;
      }

      &--play {
        margin-bottom: 1rem;
      }

      &--download {
        background: rgb(44, 44, 44);
        color: white;

        & i {
          border-bottom: 1.5px solid white;
          padding-bottom: 0.15rem;
        }
      }

      & i {
        margin-right: 1.25rem;
      }
    }
  }

  &__desc {
    font-size: 1.6rem;
    line-height: 1.2;

    @include respond(phone) {
      font-size: 2rem;
      margin-top: 1rem;
    }
  }

  &__mobile-cta {
    display: none;

    @include respond(phone) {
      margin-top: 1.5rem;
      list-style-type: none;
      display: flex;

      & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;

        & p {
          font-size: 1.6rem;
          font-weight: 200;
          color: rgb(146, 146, 146);
        }

        & i {
          margin-bottom: 1.5rem;
          font-size: 2.2rem;
        }

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }

  &__similar {
    overflow: hidden;

    &-heading {
      border-top: 4px solid red;
      padding: 2rem 0;
      margin-left: 2rem;
      font-size: 2rem;
      width: max-content;
    }

    &--list {
      @include respond(phone) {
        width: 100%;
        display: grid;
        grid-template-columns: (repeat(3, 1fr));
        grid-gap: 1rem;
        list-style-type: none;
        padding: 0 2rem 2rem 2rem;

        & li {
          width: 100%;
          border-radius: 2.5px;
          overflow: hidden;

          &:first-child {
            margin-left: 0;
          }

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  &__figure {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 30;

    @include respond(phone) {
      position: sticky;
      z-index: 20;
      width: 100%;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__cta {
    padding: 3rem 5rem 1rem 5rem;

    @include respond(phone) {
      display: none;
    }

    & ul {
      list-style-type: none;
      width: 30%;

      @include respond(phone) {
        width: 100%;
      }

      & li {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        padding: 1rem 3rem 1rem 0;
        cursor: pointer;

        @include respond(phone) {
          font-size: 2rem;
        }

        & i {
          width: 5rem;
        }

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
