.user {
  position: relative;
  min-height: 100vh;

  &__heading {
    font-size: 4.8rem;
    color: white;
    line-height: 1;
    text-align: center;
    margin-bottom: 3rem;

    @include respond(phone) {
      font-size: 2.8rem;
      margin-bottom: 4rem;
    }
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(phone) {
      top: 45%;
    }
  }

  &__filled {
    display: flex;
    justify-content: center;
    list-style-type: none;

    @include respond(phone) {
      display: grid;
      grid-template-columns: repeat(2, 11rem);
      grid-column-gap: 2.5rem;
      grid-row-gap: 4rem;
    }
  }

  &__empty {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  &__account {
    border: none;
    height: min-content;
    width: 11rem;
    border-radius: 4px;
    background: none;

    &:hover {
      & figure {
        background: white;

        @include respond(phone) {
          border: none;
          background: none;
        }
      }

      & p {
        color: white;
      }
    }

    &:not(:last-child) {
      margin-right: 2.5rem;
    }

    & figure {
      height: 11rem;
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &:hover::after {
        border: 3px solid white;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: transparent;
      }

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      & i {
        font-size: 8rem;
        color: #808080;
      }

      & div {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        z-index: 40;

        & i {
          font-size: 4rem !important;
          color: rgb(230, 230, 230);
        }
      }
    }

    & p {
      color: #808080;
      text-align: center;
      font-size: 1.8rem;
      margin-top: 1.25rem;

      @include respond(phone) {
        font-size: 2.4rem;
        margin-top: 1.75rem;
        color: white;
      }
    }
  }

  &__manage-profiles {
    text-align: center;
    margin-top: 4rem;

    & button {
      padding: 1rem 2rem;
      background: none;
      border: 2px solid white;
      color: white;
      font-size: 1.6rem;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
      letter-spacing: 0.075rem;
      transition: all 0.3s ease;

      &:hover {
        background: white;
        color: black;

        @include respond(phone) {
          background: none;
          color: white;
        }
      }
    }
  }

  &__create {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;

    @include respond(phone) {
      top: 45%;
      width: 85%;
    }

    & div {
      padding: 2rem 0;

      &:not(:last-child) {
        border-bottom: 0.25px solid rgb(58, 58, 58);
      }

      @include respond(phone) {
        &:last-child {
          text-align: center;
        }
      }
    }
  }

  &__btns {
    display: flex;
    & button {
      padding: 0.85rem 2.5rem;
      font-size: 1.6rem;
      border-radius: none;
      border: none;
      letter-spacing: 0.15rem;
      cursor: pointer;

      &:first-child {
        font-weight: bold;
        margin-right: 2rem;

        &:hover {
          background: #e50914;
          color: #fff;
        }

        @include respond(phone) {
          background: #e50914;
          color: #fff;
        }
      }

      &:last-child {
        background: transparent;
        border: 1px solid #656565;
        color: #656565;

        &:hover {
          color: #fff;
          border: 1px solid #fff;
        }
      }
    }
  }

  &__desc {
    & p {
      &:first-child {
        color: white;
        font-size: 4.8rem;
        line-height: 1.6;
      }

      &:last-child {
        color: #606060;
        font-size: 2rem;
      }
    }
  }

  &__details {
    display: flex;
    align-items: center;

    & input {
      margin-left: 2rem;
      padding: 0.85rem;
      font-size: 1.6rem;
      flex: 1;
      border: none;
      border-radius: 0px;
      background: #666666;
      color: #fff;
      outline: none;

      &::placeholder {
        color: #969696;
      }
    }
  }

  &__avatars {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    backdrop-filter: blur(0.25rem);

    & p {
      color: #fff;
      font-size: 2.2rem;
    }

    &--list {
      background: #000;
      padding: 8rem;
      border-radius: 1rem;

      @include respond(phone) {
        height: 100%;
        width: 100%;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.65);
        border-radius: 0;
      }

      & ul {
        padding-top: 1.25rem;
        display: grid;
        grid-template-columns: repeat(4, 11rem);
        grid-gap: 2rem;
        list-style-type: none;

        @include respond(phone) {
          grid-template-columns: repeat(2, 12rem);
        }

        & li {
          height: 11rem;
          width: 100%;
          border-radius: 4px;
          overflow: hidden;
          cursor: pointer;

          @include respond(phone) {
            height: 12rem;
          }

          & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  &__profile {
    height: 11rem;
    width: 11rem;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:hover::after {
      content: "Change";
      background: rgba(0, 0, 0, 0.4);
    }

    &::after {
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      @include respond(phone) {
        content: "Change";
        background: rgba(0, 0, 0, 0.4);
      }
    }

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__update {
    width: 22.5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(phone) {
      top: 45%;
      width: 75%;
    }

    & > * {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    & p {
      font-size: 4.6rem;
      line-height: 1;
      color: white;
    }

    &--main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    & figure {
      height: 11rem;
      width: 11rem;
      border-radius: 4px;
      overflow: hidden;
      margin-bottom: 2rem;

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    & input {
      padding: 0.85rem;
      font-size: 1.6rem;
      width: 100%;
      border: none;
      border-radius: 0px;
      background: #666666;
      color: #fff;
      outline: none;

      &::placeholder {
        color: #969696;
      }
    }
  }

  &__delete {
    font-size: 2.2rem !important;
    color: #e50914 !important;
    cursor: pointer;

    @include respond(phone) {
      font-size: 2.6rem !important;
    }

    &--container {
      z-index: 50;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.65);
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(0.2rem);
    }

    &--modal {
      padding: 6rem 3rem;
      background: #000;
      border-radius: 4px;
      border: 2px solid rgb(39, 39, 39);

      @include respond(phone) {
        width: 70%;
      }

      & p {
        color: #fff;
        font-size: 2rem;
        margin-bottom: 2rem;
        line-height: 1.2;
      }

      & div {
        display: flex;
        justify-content: center;
      }
    }
  }

  &__loader {
    font-size: 6rem;
    color: rgb(97, 97, 97);
  }
}
